/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2788ff;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --ifm-menu-color-background-active: #eaeef1;
  --ifm-menu-color-background-hover: #eaeef1;
  --ifm-theme-doc-sidebar-background: #f4f7f9;
  --ifm-theme-doc-sidebar-border: #d3dce4;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6bb6f5;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-menu-color-background-active: #2f3031;
  --ifm-menu-color-background-hover: #2f3031;
  --ifm-theme-doc-sidebar-background: #18191a;
  --ifm-theme-doc-sidebar-border: #5f6770;
}

.main-pg-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-pg-logo img{
  width: 125px;
  margin-right: 15px;
}
.main-pg-logo p{
  margin-bottom: 0;
}
.main-pg-logo .title h2{
  margin-bottom: 0;
}
.main-pg-logo .title p{
  font-weight: medium;
}